*{
	padding:0; 
	margin:0; 
	list-style:none;
}
/*顶部*/
#iframe-wrap {
    height: 100%;
    overflow: visible;
    position: relative;
    top: 0;
    z-index: 50;
}
#iframe {
    margin-top: 0;
}
.flash{
	width:1024px; 
	/*height:280px; */
	margin:0 auto; 
  padding: 10px; 
	background: url(../images/D2.jpg);
}
.flash .con{
	width: 100%; 
	height:280px;
}
.flash .con ul li{
	width:46px; 
	height:280px; 
	position:relative; 
	overflow:hidden; 
	float:left;
}
.flash .con ul li.current{
	width:90.6%;
}
.flash .con ul li h3{
	width:46px; 
	height:250px; 
	color:#fff; 
	font-family:"微软雅黑"; 
	font-size:16px; 
	padding:15px;
  overflow: hidden;
  clear: both;
}
.flash .con ul li.ti1 h3{
	background: #00b0a6;
}
.flash .con ul li.ti2 h3{
	background: #6c5046;
}
.flash .con ul li.ti3 h3{
	background: #09F;
}
.show{
	position:absolute; 
	left:46px; 
	top:0; 
	width:710px; 
	height:200px; 
	padding:40px 12px 40px 25px;
}
.show img{
	width:200px; 
	height:200px; 
	margin-right:10px; 
	box-shadow:0 0 10px #000; 
	float:left;-webkit-animation:zq 2s infinite; 
	animation:zq 2s infinite; 
	border-radius:50%;
}
.txt{
	position:absolute; 
	right: 35px;
	top:0; 
	width:220px; 
	height:200px; 
}
.txt p {
    color: #fff;
    font-family: "微软雅黑";
    float: right;
    position: relative;
}
.txt .p1,.txt .p2 ,.txt .p3 ,.txt .p4 {
	font-size: 14px;
	width: 14px;
	margin: 0 15px;
}

@keyframes zq{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(360deg);
	}

}
@-webkit-keyframes zq{
	from{
		-webkit-transform:rotate(0deg);
	}
	to{
		-webkit-transform:rotate(360deg);
	}

}

/*顶部*/
/*导航*/
#nav {
  height: 60px;
  text-align: center;
  clear: both;
  background: #6C5046;
  font-family: 'microsoft yahei';
  width: 100%;
}

#nav ul {
  width: 960px;
  margin: 0 auto;
}
#nav .showhiden{
  display: none;
}
#nav .showhiden a{
  color: #fff;
}
#nav li {
  float: left;
  height: 60px;
  position: relative;
}

#nav li.line_off {
  background: none;
}

#nav a {
  display: block;
  float: left;
  text-decoration: none;
  height: 60px;
  padding-top: 1px;
  line-height: 35px;
  font-size: 18px;
  color: #CFC4AC;
  width: 120px;
  blr: expression(this.onFocus=this.blur());
  outline: none;
  position: relative;
}

#nav a:hover, #nav .active a, #nav li.sfhover a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

#nav a span {
  font-size: 10px;
  -webkit-text-size-adjust: none;
  line-height: 0.9375em;
  padding-bottom: 10px;
  display: block;
  font-weight: 300;
  cursor: pointer;
  position: relative;
}

#nav .n {
  background: url(../images/i2.png) no-repeat 0 10px;
  width: 16px;
  height: 60px;
  float: left;
}

/*---当前分类---*/
#nav li ul {
  display: none;
  position: absolute;
  top: 60px;
  left: -10px;
  width: 120px;
  padding: 10px 0;
  background: url(../images/nav2.png) repeat-y;
  z-index: 11;
}

#nav li ul li {
  line-height: 1.875em;
  height: 1.875em;
  margin: 0;
  background-image: none;
  position: relative;
  z-index: 2;
}

#nav li ul a, #nav li.active ul a, #nav li.sfhover ul a {
  background: none;
  font-weight: 300;
  height: auto;
  color: #000;
  line-height: 24px;
  width: 120px;
  font-size: 0.75em;
  float: none;
  padding: 0 0 6px;
  background: url(../images/nav2.png) no-repeat -234px -100px;
  _background: url(../images/nav2_1.gif) no-repeat 0 -1.875em;
}

#nav li ul a:hover {
  background: url(../images/nav2.png) no-repeat -224px 0;
  _background: url(../images/nav2_1.gif) no-repeat 0 0;
  color: #fff;
  font-weight: 300;
}

#nav li ul .t {
  position: relative;
  z-index: 2;
  top: 14px;
  left: 0;
  width: 116px;
  height: 4px;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  background: url(../images/nav2.png) no-repeat -116px 0;
  _background: url(../images/nav2_2.png) no-repeat;
}

/*导航*/

.container,.product,.wrapper,.art {
    max-width: 1120px;
    margin: 30px auto 0;
    padding: 10px;
    text-align: left;
    position: relative;
    overflow: auto;
}

/*艺术资讯*/

  /*左边*/
  .content-wrap{
    width: 100%;
    float: left;
  }
  .clear{
    clear: both;
  }
  .content {
    margin-right: 370px;
  }
  .content .video{
    zoom: 1;
    position: relative;
    max-width: 610px;
    margin: 0 auto;
    z-index: 90;
  }
  video{
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 8px #999;
  }
  .content .carousel2{
    width: 100%;
    margin-top: 30px;
  }
  .swiper-container{
    border: 2px solid #ccc;
  }
  .swiper-slide{
    padding: 30px 0;
    border-right: 1px solid #ccc;
  }
  .swiper-slide a{
    width: 100%;
  }
  .swiper-slide .tu{
    padding: 0 30px;
  }
  .swiper-slide .wen{
    width: 100%;
    padding: 0 30px;
    text-align: left;
    color: #000;
  }
  .swiper-slide .wen h5{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    padding-top: 5px;
  }
  .swiper-slide .wen .des {
    width: 100%;
    height: 23px;
    line-height: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    color: #00b0a6;
  }
  /*右边*/
  .sidebar {
    float: left;
    margin-left: -364px;
    width: 360px;
    height: 100%;
    position: relative;
    border: 2px solid #ccc;
  }
  .tit{
    width: 100%;
    height: 50px;
    background: #6c5046;
  }
  .tit h2{
    height: 100%;
    padding: 0 10px;
    line-height: 50px;
    color: #fff;
    float: left;
  }
  .tit a{
    padding: 0 20px;
    height: 100%;
    float: right;
  }
  .tit p{
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #fff;
  }

  .cont{
    width: 100%;
    clear: both;
    height: 100%;
  }
  .cont .li{
    clear: both;
    border-bottom: 1px solid #ccc;
  }

  .cont .li .tu{
    width: 50%;
    float: left;
    padding: 8px 20px;
  }
  .cont .li .wen{
    width: 50%;
    padding: 20px 10px 20px 0;
    float: right;
  }
  .cont .wen .like{
    color: #00b0a6;
    z-index: 10;
  }
  .cont .wen .shu{
    padding: 0 5px;
  }
  .cont .wen .time{
    color: #999;
  }
  .cont .wen span{
    color: #000;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    float: left;
  }
  .cont .wen h5{
    color: #000;
  }

/*艺术资讯*/

/*产品展示*/
  /* box */
  .box{
    max-width:1120px;
    margin:10px auto 0;
    background:#fff;
  }
  .tab_menu{
    overflow:hidden;
    margin: auto;
    width: 40%;
    height: 50px;
  }

  .tab_menu li{
    width: 25%;
    float:left;
    height:50px;
    line-height:50px;
    color:#999;
    text-align:center;
    cursor:pointer;
  }
  
  .tab_menu li.current{
    color:#333;
    border-bottom: 3px solid #000;
  }
  .tab_menu li a{
    color:#999;
    text-decoration:none;
    font-size: 20px;
  }
  .tab_menu li.current a{
    color:#000;
  }
  .tab_box{
    padding:20px;
    border-top: 1px solid #999;
  }
  .tab_box .hide{
    display:none;
  }

.content-two{
  width:100%;
  margin:20px auto;
  overflow: hidden;
  clear: both;
}
.con-two{
  height: auto;
  float: left;
  margin-right: 35px;
  margin-bottom: 15px;
  position: relative;
  cursor: pointer;
}
.con-two:nth-child(4n){
  margin-right: 0; 
}
.con-two img{
  width: 100%;
  height: 100%;
}
.txt-two{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 45px;
  text-align: center;
  color: #fff;
  background: rgba(0,0,0,0.6);
  display: none;
}
.txt-two>div{
 position: absolute;
 margin: 0 auto;
 top: 50px;
 bottom: 50px;
 left: 0;
 right: 0;
}
.txt-two h3{
  font-weight: normal;
}
.txt-two p{
  font-size: 14px;
  display: block;
  /*line-height: 20px;*/
}
/*产品*/
/* 合作 */
  /*左*/
  #tab{
    width: 20%;
    height: 43%;
    float: left;
    position: absolute;
    top: 25%;
  }
  .wrapper ul{
    padding: 0 2.5em 0 0;
  }
  .wrapper li{
    width: 100%;
    height: 3em;
    line-height: 3em;
    font-size: 1.5em;
    color: #000;
    border: 2px solid #ccc;
    border-bottom: 0px;
    background: #fff;
    text-align: center;
  }
  .wrapper li:hover{
    color: #fff;
    background: #000;
  }
  /*右*/
  #tab_con{
    width: 80%;
    float: right;
    overflow: hidden;
  }
  #tab_con>div{
    width: 100%;
    overflow: hidden;
  }
  #tab_con .lefe>a{
    position: relative;   
  }
  #tab_con .lefe>a:nth-child(2){
    margin-right: 2.5em;
  }
  #tab_con .lefe>a span,#tab_con .rige>a span{
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(0,0,0,0.6);
    display: none;
  }
  #tab_con .lefe>a span>div,#tab_con .rige>a span>div{
    margin-top: 5em;
  }
  #tab_con .lefe .sh{
    margin-bottom: 2.5em;
  }
  #tab_con .rige{
    margin-left: 2.5em;
  }
  #tab_con .rige>a:nth-child(1){
    margin-bottom: 2.5em;
  }
/*合作*/

/*3D艺术馆*/
.art .title{
  text-align: center;
}
.title h2{
  color: #2e2949;
  font-size: 2em;
  margin-bottom: 10px;
}
.title h3{
  font-size: 1.5em;
  color: #999;
}
.containet{
  margin-top: 30px;
}
.card{
  padding: 1em 2em;
  background: #fff;
  overflow: hidden;
  width: 33.33333333333333333%;
}
.card .topper{
  width: 100%;
}
.topper a{
  width: 100%;
}
.topper h3{
  color: #000;
  font-size: 1.5em;
}
.topper h4{
  color: #000;
  font-size: 1em;
}
.card .center{
  margin-top: 10px;
}
.center p{
  font-size: 1em;
  color: #6c6c6c;
}
.center .more{
  color: #ff0000;
  height: 2em;
  line-height: 2em;
}
.card .footer{

}
/*3D艺术馆*/



/*响应式*/
@media(max-width:979px){
  /*顶部*/
  /*导航*/
  #nav li{
    width: 11%;
  }
  #nav .n{
    display: none;
  }
  /*轮播*/
  #carousel1 .car_click{
    left: 6%;
  }
  /*新闻资讯*/
  .content {
    margin-right: 0;
  }
  .sidebar {
    display: none;
  }
  /*合作*/
  #tab{
    top: 20%;
  }
}



@media(max-width:767px){
  /*导航*/
  #nav li{
    width: 100%;
    display: none;
    background: #6C5046;
    border-top: 1px solid #fff;
  }
  #nav .showhiden{
    display: block;
    border-top: 0;
  }
  #nav .showhiden span{
    float: left;
    height: 60px;
    line-height: 60px;
    font-size: 1.5em;
    color: #fff;
    margin-left: 1em;
  }
  #nav li ul{
    top: 20px;
    left: 100px;
  }
  /*艺术资讯*/
  .swiper-slide .wen h5{
    margin-bottom: 2.5em;
  }
  #tab{
    display: none;
  }
  #tab_con{
    width: 100%;
  }
  #tab_con .lefe>a:nth-child(2) {
    margin-right: 1.5em;
  }
  #tab_con .rige {
    margin-left: 1.5em;
  }
  .card{
    width: 100%;
  }

}












@media(max-width:375px){
  .content .carousel2{
    display: none;
  }
  #tab_con .rige{
    display: none;
  }
  #tab_con .lefe>a:nth-child(2) {
    margin-right: 2.5em;
  }
  .col-xs-8 {
    width: 100%;
  }
  .col-xs-6 {
    width: 44%;
  }

}